<div class="movie-card">
  <div class="movie-image-container">
    <img src="<%= movie.poster_url %>" alt="movie poster" class="movie-image">
  </div>
  <div class="movie-info">
    <div class="title-wrapper">
      <h3><%= movie.title %></h3>
    </div>
    <span class="rating" data-controller="color-rating" data-color-rating-target="rating"><%= movie.rating %></span>
  </div>
  
  <div class="overview">
    <%= movie.overview %>
  </div>
</div> <!-- movie-card-->
