.btn-blue {
  background-color: #219ebc;
  color: #eee;
  padding: 12px;
}

.btn-blue:hover {
  opacity: 0.7;
  color: #eee;
}

.btn-blue-slim {
  background-color: #219ebc;
  color: #eee;
  padding: 8px;
}

.btn-blue-slim:hover {
  opacity: 0.7;
  color: #eee;
}
