@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .list-card {
    width: 20rem;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .list-card {
    width: 18rem;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .list-card {
    width: 100%;
  }
}



.movies-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .movie-card {
    width: 300px;
    margin: 0.5rem;
    background-color: $gray-blue;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;

    .movie-image-container {
      position: relative;
      // z-index: 0;

      a {
        text-decoration: none;
      }

      .remove-mark {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 1;
        color: $accent-blue;
        opacity: 0.8;

        i {
          font-size: 24px;
        }
      }

      .remove-mark:hover {
        opacity: 1;
      }

      .movie-image {
        z-index: 0;
        width: 100%;
      }
    }
   

    .movie-info {
      color: #eee;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem 1rem;
      letter-spacing: 0.5px;
      text-align: left;

      .title-wrapper {
        max-width: 200px;
        h3 {
          font-size: 24px;
          // word-break: break-all;
        }
      }
      

      span {
        background-color: $lighter-gray;
        padding: 4px;
        min-width: 40px;
        height: 40px;
        font-size: 22px;
        text-align: center;
        border-radius: 50%;
        align-self: flex-start;
      }

      span.green {
        color: lightgreen;
      }
      
      span.orange {
        color: orange;
      }
      
      span.red {
        color: red;
      }
    }

    .overview {
      background-color: $almost-white;
      padding: 2rem;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      max-height: 100%;
      transform: translateY(101%);
      overflow-y: auto;
      transition: transform 0.5s ease-in;
    }

    .movie-comments {
      font-style: italic;
      opacity: 0.7;
      padding: 1.2rem;
      color: $almost-white;
    }
  }

  .movie-card:hover .overview {
    transform: translateY(0);
  }
}

.list-card-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  a {
    text-decoration: none;
  }

  h3 {
    font-family: 'Girassol', cursive;
    color: $almost-white;
  }

  .list-card {
    background-size: cover;
    background-position: 50% 60%;
    margin: 6px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // width: 20rem;
    height: 10rem;

    a {
      text-decoration: none;
      color: $almost-white;
    }
  }

  .list-card:hover {
    opacity: 0.7;
  }
}
