.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-blue {
  background-color: $dark-blue;
  .logo-white {
    color: $almost-white;
    font-size: 1.7rem;
  }

  .text-white {
    color: $almost-white;
  }
}
