.reviews-form {
  margin-bottom: 2rem;
  margin-top: 1rem;
}


.reviews-list {
  display: flex;
  flex-direction: column;

  .review-content {
    width: 100%;
    background-color: $gray-blue;
    color: $almost-white;
    // border-bottom: 4px solid $dark-blue;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 8px;
  }
}
