.select2-container{
  width: 100%!important;
}

.select2-search--dropdown .select2-search__field {
  width: 98%;
}

// .select2-results__option {
//   background-color: $accent-blue !important;
// }

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $accent-blue !important;
}