<div class="reviews-form">
  <%= simple_form_for [list, review], data: { action: "turbo:submit-end->resetform#reset" } do |f| %>
    <span data-resetform-target='stars'>
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate this movie list" %>
    </span>
    <%= f.input :content, label: 'Tell us what you think', as: :text, cols: 30, rows: 50 %>
    <%= f.submit "Publish", class: 'btn btn-blue-slim', data: { target: 'resetform.button' } %>
  <% end %>
</div>
